@model MDS.Models.Recipe
<!-- Formularul pentru a adauga o noua reteta -->

<form method="post" action="/Recipes/New">
    <br />
    <div class="card ">
        <div class="card-header text-center" style="font-family: 'Trocchi', serif; font-size:30px">
            Write your recipe
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                @Html.Label("NameRecipe","Give your recipe a name")
                @Html.TextBox("NameRecipe", null, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.NameRecipe, null, new {@class = "text-danger" })
                <br /><br />
                @Html.Label("DescriptionRecipe", "Description ")
                @Html.TextArea("DescriptionRecipe", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.DescriptionRecipe, null, new { @class ="text-danger" })
                <br />
                <br />

                <br /><br />
                @Html.Label("PhotoLink", "Photo ")
                @Html.TextArea("PhotoLink", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.PhotoLink, null, new { @class ="text-danger" })
                <br />
                <br />

                <br /><br />
                @Html.Label("NrPortions", "Number of portions ")
                @Html.TextBox("NrPortions", null, new { @class = "form-control", type= "number" })
                @Html.ValidationMessageFor(m=>m.NrPortions, null, new { @class ="text-danger" })
                <br />
                <br />

                <br /><br />
                @Html.Label("NrCalories", "Number of calories ")
                @Html.TextBox("NrCalories", null, new { @class = "form-control" , type= "number"})
                @Html.ValidationMessageFor(m=>m.NrCalories, null, new { @class ="text-danger" })
                <br />
                <br />

                 
                <button class="btn btn-outline-success" style=" border-radius: 25px;">Add</button>
            </blockquote>
        </div>
    </div>


    <h1>@ViewBag.IdReteta</h1>

</form>