@model MDS.Models.RecipeIngredient

<form method="post" action="/RecipeIngredients/New">
    <br />
    <div class="card ">
        <div class="card-header text-center" style="font-family: 'Trocchi', serif; font-size:30px">
            Write your recipe
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                @Html.Label("Quantity","Quantity")
                @Html.TextBox("Quantity", null, new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.Quantity, null, new {@class = "text-danger" })
                <br />
                <br />

                @Html.Label("Unit",".UnitIngredient")
                
              
              
                <button class="btn btn-outline-success" style=" border-radius: 25px;">Add quantity </button>
            </blockquote>
        </div>
    </div>

    <h1>@ViewBag.IdReteta</h1>

</form>